#root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.ant-card-body {
  border-radius: 0 !important;
  padding: 10px !important;
  height: 75px !important;
}

.ant-card-actions {
  background-color: rgb(128, 161, 182) !important;
}

.ant-card-actions > li {
  background-color: rgb(128, 161, 182) !important;
  margin-bottom: 5px !important;
}

@media (max-width: 768px) {
  .ant-layout-header {
    padding: 5px;
  }
}
